In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df1 = pd.read_csv("highest_earning_players.csv")
df1.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [4]:
df1.shape

(1000, 8)

In [13]:
df1.groupby('CurrentHandle')['CurrentHandle'].agg('count')

CurrentHandle
007x        1
067QAQ      1
0nuqtive    1
139         1
369         1
           ..
月色          1
柠栀          1
行星          1
轻雨          1
阿可          1
Name: CurrentHandle, Length: 990, dtype: int64

In [17]:
df2 = df1.drop(['CurrentHandle', 'CountryCode'], axis='columns')
df2.head()

,PlayerId,NameFirst,NameLast,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [18]:
df2.isnull().sum()

PlayerId         0
NameFirst        0
NameLast         0
TotalUSDPrize    0
Game             0
Genre            0
dtype: int64

In [33]:
df3 = df2.drop(df2[(df2['NameFirst']=='-') | (df2['NameLast']=='-')].index)
print(df3.head())

   PlayerId NameFirst   NameLast  TotalUSDPrize  \
0      3883     Peter  Rasmussen     1822989.41
1      3679   Andreas   Højsleth     1799288.57
2      3885   Nicolai     Reedtz     1787489.88
3      3672     Lukas  Rossander     1652350.75
4     17800      Emil       Reif     1416448.64

                               Game                 Genre
0  Counter-Strike: Global Offensive  First-Person Shooter
1  Counter-Strike: Global Offensive  First-Person Shooter
2  Counter-Strike: Global Offensive  First-Person Shooter
3  Counter-Strike: Global Offensive  First-Person Shooter
4  Counter-Strike: Global Offensive  First-Person Shooter

In [34]:
required_item = '-'
if required_item not in df3['NameFirst'].values:
    print("Dropped")
else:
    print("Try again")

Dropped

In [35]:
rgx = r'[^a-zA-Z]'
df4 = df2.drop(df2[df2['NameFirst'].str.contains(rgx, regex=True) | (df2['NameLast'].str.contains(rgx, regex=True))].index)
df4.head()

,PlayerId,NameFirst,NameLast,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter
5,16800,Jakey,Yip,1087340.00,Counter-Strike: Global Offensive,First-Person Shooter

In [36]:
required_item = r'[^a-zA-Z]'
if required_item not in df3['NameFirst'].values:
    print("Dropped")
else:
    print("Try again")

Dropped

In [37]:
df4['Game'].unique()

array(['Counter-Strike: Global Offensive', 'Dota 2', 'League of Legends',
       'Fortnite', 'Overwatch', 'Starcraft II', 'Heroes of the Storm',
       'PUBG', 'Arena of Valor', 'Hearthstone'], dtype=object)

In [38]:
df4.to_csv('Cleaned_earning.csv', index=False)

In [47]:
df1.head()

,PlayerId,NameFirst,NameLast,CurrentHandle,CountryCode,TotalUSDPrize,Game,Genre
0,3883,Peter,Rasmussen,dupreeh,dk,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter
1,3679,Andreas,Højsleth,Xyp9x,dk,1799288.57,Counter-Strike: Global Offensive,First-Person Shooter
2,3885,Nicolai,Reedtz,dev1ce,dk,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter
3,3672,Lukas,Rossander,gla1ve,dk,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter
4,17800,Emil,Reif,Magisk,dk,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter

In [51]:
# df4.reset_index(drop=True, inplace=True)
df_backup = df1.copy()
dropped = df_backup[df_backup.index.isin(df4.index)]
dropped = dropped.drop(df4.columns, axis=1)
df5 = pd.concat([df4, dropped], axis=1)
df5.head()

,PlayerId,NameFirst,NameLast,TotalUSDPrize,Game,Genre,CurrentHandle,CountryCode
0,3883,Peter,Rasmussen,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter,dupreeh,dk
1,3885,Nicolai,Reedtz,1787489.88,Counter-Strike: Global Offensive,First-Person Shooter,Xyp9x,dk
2,3672,Lukas,Rossander,1652350.75,Counter-Strike: Global Offensive,First-Person Shooter,dev1ce,dk
3,17800,Emil,Reif,1416448.64,Counter-Strike: Global Offensive,First-Person Shooter,gla1ve,dk
4,16800,Jakey,Yip,1087340.00,Counter-Strike: Global Offensive,First-Person Shooter,Magisk,dk

In [42]:
df5.to_csv('Column_Cleaned_earning.csv', index=False)

In [52]:
rgx = r'[^a-zA-Z]'
df6 = df5.drop(df5[df5['CurrentHandle'].str.contains(rgx, regex=True)].index)
df6.head()

,PlayerId,NameFirst,NameLast,TotalUSDPrize,Game,Genre,CurrentHandle,CountryCode
0,3883,Peter,Rasmussen,1822989.41,Counter-Strike: Global Offensive,First-Person Shooter,dupreeh,dk
4,16800,Jakey,Yip,1087340.00,Counter-Strike: Global Offensive,First-Person Shooter,Magisk,dk
6,2455,Gabriel,Toledo,1059938.92,Counter-Strike: Global Offensive,First-Person Shooter,TACO,br
7,12182,Marcelo,David,1021901.46,Counter-Strike: Global Offensive,First-Person Shooter,fer,br
8,10629,Keith,Markovic,982765.66,Counter-Strike: Global Offensive,First-Person Shooter,FalleN,br

In [53]:
df6.to_csv('New_Cleaned_earning.csv', index=False)